<p class="fields input-group flex-nowrap mt-3">
    <%= f.label :name, "Name", :class=>"input-group-text"%>
    <%= f.text_field :name, :class=>"form-control"%>

    <%= f.label :price, "Price", :class=>"input-group-text"%>
    <%= f.number_field :price, :class=>"form-control"%>

    <%= f.label :bought, "bought", :class=>"pl-3 form-check-label"%>
    <%= f.check_box :bought, :class=>"form-check-input" %>



</p>
