<p style="color: green"><%= notice %></p>

<%= render @list %>

<%= @list.products.map(&:name)%>

<div>
  <%= link_to "Edit this list", edit_user_list_path%> |
  <%= link_to "Back to lists", user_lists_path %>

  <%= button_to "Destroy this list", [@list.user, @list], method: :delete %>

</div>
