<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group flex-nowrap">
    <%= form.label :name, "User's name", :class=>"input-group-text"%>
    <%= form.text_field :name, :class=>"form-control"%>
  </div>

  <div class="input-group flex-nowrap my-3">
    <%= form.label :birth_date, "Birth date  ", :class=>"input-group-text" %>
    <%= form.date_field :birth_date, :class=>"form-control" %>
  </div>


  <div >
    <%= form.submit :class=> "btn btn-success" %>
  </div>
<% end %>
