<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show", user, :class => "btn btn-primary" %>
      <%= button_to "Delete", user, method: :delete, :class => "btn btn-danger"%>
    </p>
  <% end %>
</div>

<hr>
<%= link_to "New user", new_user_path, :class => "btn btn-success"%>
